<table class="table text-center">
    <tr>
        <th>Nazwa</th>
        <th>Opis</th>
        <th>Opcje</th>
    </tr>
    <tr *ngFor="let item of products">
        <td>{{item.name}}</td>
        <td>{{item.description}}</td>
        <td class="text-right">
            <button class="btn btn-primary btn-sm" (click)="editProduct(item)">
                Edytuj <i class="fa fa-pencil"></i>
            </button>
            <button class="btn btn-danger btn-sm" (click)="deleteProduct(item)">
                Usuń <i class="fa fa-trash"></i>
            </button>
        </td>
    </tr>
</table>
