<div class="text-center" *ngIf="loading===true">
  <i class="fa fa-spinner fa-2x fa-spin"></i>
</div>

<form [formGroup]="authForm" (ngSubmit)="submit()">
  <div class="form-group">
    <label>Login</label>
    <input type="email" class="form-control" formControlName="email">
    <div class="invalid-feedback">
      Podaj prawidłowy email
    </div>
  </div>
  <div class="form-group">
    <label>Hasło</label>
    <input type="password" class="form-control" formControlName="password">
    <div class="invalid-feedback">
      Proszę prawidłowe hasło
    </div>
  </div>

  <div class="alert alert-danger" *ngIf="(error)">
    {{error }}
  </div>

  <div class="text-center">
    <button type="submit" class="btn btn-primary" [disabled]="!authForm.valid">Zaloguj</button>
  </div>
</form>
