<div class="container">

  <div class="row">

    <div class="col-lg-3">

      <app-categories
        [categories]="categories | async"
        [activeCategories]="activeCategories | async"
        (onCategoryClick)="onCategoryClick($event)"
        (onDeselectAll)="onDeselectAll()"></app-categories>

      <div class="text-center mt-3">
        Cena
      </div>

      <nouislider [connect]="true"
                  [min]="0"
                  [max]="500"
                  [step]="10"
                  [ngModel]="priceRange | async"
                  (ngModelChange)="priceRangeChanged($event)"></nouislider>
      <div>
        <span class="pull-left">
          {{(priceRange | async)[0]}}
        </span>
        <span class="pull-right">
          {{(priceRange | async)[1]}}
        </span>
      </div>

    </div>

    <div class="col-lg-9">

      <div class="mt-4">

          <div class="form-group">
            <input class="form-control"
                   type="text"
                   name="term"
                   placeholder="Wpisz fragment nazwy lub opisu..."
                   (input)="onTermChanged($event.target.value)" />
          </div>

        <app-product *ngFor="let product of products | async"
                     [product]="product"
                      (onAddToCart)="addToCart($event)"
        >
        </app-product>


        <ngb-pagination [collectionSize]="(pagination | async).total"
                        [page]="(pagination | async).page"
                        [pageSize]="(pagination | async).perPage"
                        (pageChange)="onPageChange($event)"></ngb-pagination>

      </div>

    </div>
  </div>
</div>
