<div class="container">

  <div class="row">

    <div class="col-lg-3">

      <app-categories
        [categories]="categories | async"
        [activeCategories]="activeCategories | async"
        (onCategoryClick)="onCategoryClick($event)"
        (onDeselectAll)="onDeselectAll()"></app-categories>

    </div>

    <div class="col-lg-9">

      <div class="mt-4">
        <app-product *ngFor="let product of products | async" [product]="product">
        </app-product>

        <ngb-pagination [collectionSize]="pagination.total"
                        [(page)]="pagination.page"
                        [pageSize]="pagination.perPage"
                        (pageChange)="onPageChange($event)"
                        aria-label="Default pagination"></ngb-pagination>

      </div>

    </div>
  </div>
</div>
