<table class="table text-center">
  <tr>
    <th>Ilość</th>
    <th>Produkt</th>
    <th>Cena</th>
    <th>Wartość</th>
    <th></th>
  </tr>
  <tr *ngFor="let item of items">
    <td>
      <button class="btn btn-sm btn-primary btn-outline-primary" (click)="deleteItem(item.product)">-</button>
      <button class="btn btn-sm btn-primary btn-outline-primary" (click)="addItem(item.product)">+</button>
      {{item.amount}}
    </td>
    <td>{{item.product.name}}</td>
    <td>{{item.product.price.value | currency: item.product.price.currency: true}}</td>
    <td>{{(item.product.price.value * item.amount) | currency: item.product.price.currency: true}}</td>
    <td>
      <button class="btn btn-warning btn-sm" (click)="deleteItem(item.product)">Usuń</button>
    </td>
  </tr>
</table>
