<table class="table text-center">
  <tr>
    <th>Imie</th>
    <th>Adres</th>
    <th>Wartość</th>
    <th></th>
  </tr>
  <tr *ngFor="let item of orders">
    <td>{{item.name}}</td>
    <td>{{item.street}}</td>
    <td>{{item.totalValue.value | currency: item.totalValue.currency: true}}</td>
    <td>
      <button class="btn btn-primary btn-sm" (click)="openDetails(item)">Szczegóły</button>
      <button class="btn btn-primary btn-sm" (click)="doneOrder(item)" *ngIf="item.status === 'PENDING'">Zrealizuj
      </button>
    </td>
  </tr>
</table>
