<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <h2 class="mt-4 d-flex justify-content-md-between">
                Produkty
                <button class="btn btn-primary" (click)="onAddPromo()">Zrób promocję <i class="fa fa-percent"></i>
                </button>
                <button class="btn btn-primary" (click)="onAddProduct()">Dodaj produkt <i class="fa fa-plus"></i>
                </button>
            </h2>
            <router-outlet>
                <app-admin-product-list [products]="products$ | async"
                                        (onDeleteProduct)="onDeleteProduct($event)"
                                        (onEditProduct)="onEditProduct($event)"></app-admin-product-list>

            </router-outlet>

        </div>
    </div>
</div>
