@import url('https://fonts.googleapis.com/css?family=Raleway:300,400');

.bg-light {
  background: white !important;
}

.app-header {
  height: 60vh;
  width: 100%;
  position: relative;

  &__image {
    background: url('../../../assets/bg.png') center center no-repeat;
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  }

  &__content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: #3c3c3c;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    margin-top: 45px;
    font-family: 'Raleway', sans-serif;

    h2 {
      font-weight: 300;
    }
  }
}
