<div class="container">
    <div class="row">
        <div class="col-lg-6 mx-auto">
            <div class="text-center mt-5">
                <button class="btn btn-primary" routerLink="/admin/order">
                    <i class="fa fa-shopping-cart"></i> Zamówienia
                </button>
                <button class="btn btn-primary" routerLink="/admin/product">
                    <i class="fa fa-tag"></i> Produkty
                </button>
            </div>
        </div>
    </div>
</div>
