@import '../node_modules/bootstrap/scss/bootstrap';
@import '~nouislider/distribute/nouislider.min.css';

body {
  padding-top: 54px;

  @media (min-width: 992px) {
    padding-top: 56px;
  }
}

.nav-item {
  cursor: pointer;
  &:focus {
    outline: none;
  }
}

button:not(disabled) {
  cursor: pointer;
}

.ng-touched.ng-invalid {
  @extend .is-invalid;
}

.ng-touched.ng-valid {
  @extend .is-valid;
}

.noUi-connect {
  background:#0062cc;
}

dropzone.dz-wrapper > .dropzone {
  overflow: initial !important;
}

@import "ribbon";
