@import '../node_modules/bootstrap/scss/bootstrap';

body {
  padding-top: 54px;

  @media (min-width: 992px) {
    padding-top: 56px;
  }
}

button:not(disabled) {
  cursor: pointer;
}

.ng-touched.ng-invalid {
  @extend .is-invalid;
}

.ng-touched.ng-valid {
  @extend .is-valid;
}
